.sin{
  height: 700px;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  background-image: url(C:\Users\Nithyashri\Documents\React js\myproject\istockphoto-1347150429-612x612.jpg);
}

.sin h1
{
  color: #ffffff;
}
.sin h3{
  color: #ffffff;
}
button {
  font: inherit;
  cursor: pointer;
  color:rgb(199, 8, 8);
  border: 1px solid black;
  background-color:antiquewhite;
  padding: 5px 20px;
  border-radius: 4px;
}
fieldset
{
  width:max-content;
  height: 600px;
 background-color: aliceblue;
}
input
{
 margin:8px 0;
 padding: 5px 20px;
 box-sizing: border-box;
 background-color: rgb(244, 230, 212);
}